

.amll-lyric-player {
    --amll-lp-line-width-aspect: 0.8;
    --amll-lp-line-padding-x: 1em;
    --amll-lp-bg-line-scale: 0.7;
    
    --amll-lp-ruby-scale: 0.42;
    --amll-lp-ruby-weight: 600;
    --amll-lp-ruby-row-space: 0.4em;
    --amll-lp-ruby-opacity: 0.75;
    --amll-lp-ruby-space: 0.45em;
    user-select: none;
    font-size: var(--amll-lp-font-size, max(max(4.7vh, 3.2vw), 12px));
    padding: 1em;
    margin: -1em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: content-box;
    max-width: 100%;
    z-index: 1;
    color: var(--amll-lp-color, white);
    mix-blend-mode: plus-lighter;
    contain: strict;
}

.amll-lyric-player.amll-lyric-player-ruby {
    --amll-lp-ruby-space-active: var(--amll-lp-ruby-space, 0.45em);
}

@media screen and (max-width: 768px) {
    .amll-lyric-player {
        --amll-lp-line-width-aspect: 1;
        --amll-lp-line-padding-x: 0;
    }
}